# Python
.venv/
__pycache__/

# Dataset
data/
dataset_alicona/
dataset_alicona_patch64/
dataset_alicona_patch256/
Versuchsreihe2_B91$prj/
runs/
dataset_indices/**/patch_index.csv

# Models
*.pth
!models/*_best.pth
*.pt

# Images (ignore by default)
*.png
*.jpg

# Keep experiment results
!results/
!results/*.png
!results/*.jpg
!results/report_figures/
!results/report_figures/*.png
!results/report_figures/*.jpg

# Large dense prediction arrays
*.npy

# VS Code
.vscode/

# Windows
Thumbs.db
.DS_Store
~$*.docx
