# Python
.venv/
__pycache__/

# Dataset
data/
dataset_alicona/
runs/

# Models
*.pth
*.pt

# Images (ignore by default)
*.png
*.jpg

# Keep experiment results
!results/
!results/*.png
!results/*.jpg

# VS Code
.vscode/

# Windows
Thumbs.db
.DS_Store